<html>
  <style>
    body{ 
      font-size: 12pt;
      font-family: arial;
    }
  </style>
<script language="javascript">
function ShowTxt()
{
document.getElementById("txt").style.display="block";
document.getElementById("submit").style.display="block";
document.getElementById("cancel").style.display="block";
document.getElementById("comment").style.display="none";
}
function HiddenTxt()
{
document.getElementById("txt").style.display="none";
document.getElementById("txt").value="";
document.getElementById("cancel").style.display="none";
document.getElementById("submit").style.display="none";
document.getElementById("comment").style.display="block";


}
function time()
{

   var date = new Date();
   var sign1 = "-";
   var sign2 = ":";
   var year = date.getFullYear() // 年
   var month = date.getMonth() + 1; // 月
   var day  = date.getDate(); // 日
   var hour = date.getHours(); // 时
   var minutes = date.getMinutes(); // 分
   var seconds = date.getSeconds() //秒

   // 给一位数数据前面加 “0”
   if (month >= 1 && month <= 9) {
    month = "0" + month;
   }
   if (day >= 0 && day <= 9) {
    day = "0" + day;
   }
   if (hour >= 0 && hour <= 9) {
    hour = "0" + hour;
   }
   if (minutes >= 0 && minutes <= 9) {
    minutes = "0" + minutes;
   }
   if (seconds >= 0 && seconds <= 9) {
    seconds = "0" + seconds;
   }
  var currentdate = year + sign1 + month + sign1 + day + " " + hour + sign2 + minutes + sign2 + seconds

  document.getElementById("timestamp").value=currentdate;


} 
</script>

  <link href="static/movie.css" rel="stylesheet" media="screen">
<body>
<a href="/" style="">
  <img src="static/back.png" style="max-width:80px; width:expression_r(this.width > 80 ? "80px" : this.width); height:auto;">
</a>
<br></br>
<img class='poster' src={{ url_for('static', filename = 'movie_pic/m' + data.id + '.jpg') }} >

 <table border="1" id="customers">
  <tr>
    <td>Name</td>
    <td>{{data.name}}</td>
  </tr>
  <tr>
    <td>Director</td>
    <td><a style='text-decoration:underline;color:#000000;' href="/people?id={{data.director_id}}">{{data.director}}</a></td>
  </tr>
  <tr>
    <td>Stars</td>
    <td>
      {% for person in data.cast %}
        <a style='text-decoration:underline;color:#000000;' href="/people?id={{person.people_id}}">{{person.people_name}}</a>
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>Duration</td>
    <td>{{data.year}}</td>
  </tr>
  <tr>
    <td>Color</td>
    <td>{{data.color}}</td>
  </tr>
  <tr>
    <td>Content Rating</td>
    <td>{{data.content_rating}}</td>
  </tr>
  <tr>
    <td>Year</td>
    <td>{{data.year}}</td>
  </tr>
  <tr>
    <td>Language</td>
    <td>{{data.language}}</td>
  </tr>
  <tr>
    <td>Country</td>
    <td>{{data.country}}</td>
  </tr>
  <tr>
    <td>Budget</td>
    <td>{{data.budget}}</td>
  </tr>
  <tr>
    <td>Gross</td>
    <td>{{data.gross}}</td>
  </tr>
  <tr>
    <td>Score</td>
    <td>{{data.score}}</td>
  </tr>
  <tr>
    <td><a style='text-decoration:underline;color:#000000;' href="{{data.imdb_link}}">IMDB Link</a></td>
    <td></td>
  </tr>
  <tr>
    <td>Genre</td>
    <td>{{data.genre}}</td>
  </tr>

</table>

<div style="clear:both;"></div>
{% if session.logged_in %}

{% if data.iflike %}
<form action="/movie" method="get">
        <input type="text" name="id" value="{{data.id}}" style="display:none">
        <input type="text" name="cancellike" value="True" style="display:none">
        <input class="btn btn-default" type="submit" value="has liked ({{data.num_like}})">
</form>
{% else %}
<form action="/movie" method="get">
        <input type="text" name="id" value="{{data.id}}" style="display:none">
        <input type="text" name="like" value="True" style="display:none">
        <input  type="submit" value="like ({{data.num_like}})">
</form>
{% endif %}
{% if data.iffavor %}
<form action="/movie" method="get">
        <input type="text" name="id" value="{{data.id}}" style="display:none">
        <input type="text" name="cancelfavor" value="True" style="display:none">
        <input  type="submit" value="has favored ({{data.num_favor}})">
</form>
{% else %}
<form action="/movie" method="get">
        <input type="text" name="id" value="{{data.id}}" style="display:none">
        <input type="text" name="favor" value="True" style="display:none">
        <input  class="btn btn-default" type="submit" value="list as favorites ({{data.num_favor}})">
</form>
{% endif %}
</br>
<input type="button" value="comment" onClick="ShowTxt()" id="comment"/>
{% else %}

<p><a href="/tologin" style="padding:5px;background-color:#c47f00;">like it ({{data.num_like}})</a></p>
  <p><a href="/tologin" style="background-color:#c47f00;padding:5px;">list as favorites ({{data.num_favor}})</a></p>
</br>
<p><a href="/tologin" style="background-color:#c47f00;padding:5px;">login to comment</a></p>
{% endif %}

<form action="/comment" method="post">
<textarea name="new_comment" rows="5" cols="100" style="display:none;margin-bottom:10px;background-color:#ffeac4;border:none;" id="txt">
</textarea>
<input class="btn btn-default" type="submit" value="submit" id="submit" onClick="time()" style="margin-right:10px;display:none;float:left;" />
<input type="button" value="cancel" onClick="HiddenTxt()" id="cancel" style="display:none" />
<input type="text" value="{{data.id}}" name = "mid" style="display:none" />
<input type="text" value="" name = "timestamp" id="timestamp" style="display:none" />
</form>

<div style="clear:both;"></div>
{% for comment in comments %}
<div class='comment'>
  <p style="font-family:Times New Roman;font-style:italic;">{{comment.user_name}}  {{comment.time}}</p>
  <p>{{comment.content}}</p>
  </div>
{% endfor %}



</body>


</html>