<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
  <link href="static/people.css" rel="stylesheet" media="screen">

<body>
  
<img src={{ url_for('static', filename = data.profile_pic) }} >
 <table border="1" id="customers">
  <tr>
    <td>Name</td>
    <td>{{data.name}}</td>
  </tr>
  <tr>
    <td>Country</td>
    <td>{{data.country}}</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>{{data.gender}}</td>
  </tr>
  <tr>
    <td>Birth Date</td>
    <td>{{data.birth_date}}</td>
  </tr>
  <tr>
    <td>Bio</td>
    <td>{{data.bio}}</td>
  </tr>
 

</table>


</head>
<body >

</body>


</html>