<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
  <link href="static/people.css" rel="stylesheet" media="screen">

<body>
  <a href="/" style="">
  <img src="static/back.png" style="max-width:80px; width:expression_r(this.width > 80 ? "80px" : this.width); height:auto;">
</a>
<br></br>
<img class='poster' src={{ url_for('static', filename = 'ppic/'+data.profile_pic) }} >
 <table border="1" id="customers">
  <tr>
    <td>Name</td>
    <td>{{data.name}}</td>
  </tr>
  <tr>
    <td>Country</td>
    <td>{{data.country}}</td>
  </tr>
  <tr>
    <td>Birth Date</td>
    <td>{{data.birth_date}}</td>
  </tr>
  <tr>
    <td>Bio</td>
    <td>{{data.bio}}</td>
  </tr>
 

</table>


</head>
<body >

</body>


</html>