<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

    <link href="static/seefavor.css" rel="stylesheet" media="screen">
<body>
        <a href="/" style="">
  <img src="static/back.png" style="max-width:80px; width:expression_r(this.width > 80 ? "80px" : this.width); height:auto;">
</a>
 <h1 style="text-align:center;">{{username}}'s favorites</h1>
 

<table border="1" id="customers">
  <tr>
    <th>Name</th>
    <th>Year</th>
  </tr>
  {% for n in data %}
  <tr>
    <td><a style="color:#000000" href="/movie?id={{n.id}}">{{n.name}}</a></td>
    <td>{{n.year}}</td>
  </tr>
  {% endfor %}
</table>



</body>


</html>